@model IEnumerable<OrderDto>

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.css" />

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.5em 0.75em;
        margin-left: 0.25em;
        border-radius: 0.25em;
        color: #fff;
        border: 1px solid #ddd;
    }
</style>
</head>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Užsakymų sąrašas</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>

        </div>
        <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Užsakymo numeris
                    </th>
                    <th>
                        Vardas Pavardė
                    </th>
                    <th>
                        Adresas
                    </th>
                    <th>
                        Laikas
                    </th>
                    <th>
                        Statusas
                    </th>
                    <th>
                        Pateikimo data
                    </th>
                    <th>
                        Funkcijos
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>
}
