@model IEnumerable<OrderDto>

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.css" />

    <style>
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0.5em 0.75em;
            margin-left: 0.25em;
            border-radius: 0.25em;
            color: #fff;
            border: 1px solid #ddd;
        }
    </style>
</head>

<form asp-controller="Order">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-40">
            <!-- Adjust the column width as needed -->
            <div class="card shadow border-0 mt-4">
                <div class="card-header bg-secondary bg-gradient ml-0 py-3 align-content-center">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <h1 class="text-left text-white">Užsakymų sąrašas</h1>
                        </div>
                        <div class="col-auto">
                            <button asp-controller="Order" asp-action="OrderCreate" asp-route-isCompany="false" type="submit" class="btn form-control" style="background-color: grey; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;" onmouseover="this.style.backgroundColor='darkgrey'" onmouseout="this.style.backgroundColor='grey'">
                                <i class="bi bi-plus-square"> Fizinis</i>
                            </button>
                        </div>
                            <div class="col-auto">
                                <button asp-controller="Order" asp-action="OrderCreate" asp-route-isCompany="true" type="submit" class="btn form-control" style="background-color: grey; font-family: Arial, sans-serif; font-size: 15px; font-weight: bold;" onmouseover="this.style.backgroundColor='darkgrey'" onmouseout="this.style.backgroundColor='grey'">
                                    <i class="bi bi-plus-square"> Juridinis</i>
                                </button>
                            </div>
                    </div>

                </div>
                <div class="card-body p-4">
                    <table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
                        <thead>
                            <tr>
                                <th>Užsakymo numeris</th>
                                <th>Vardas Pavardė / Įmonės pavadinimas</th>
                                <th>Įmonės kodas</th>
                                <th>Adresas</th>
                                <th>Data</th>
                                <th>Laikas</th>
                                <th>Statusas</th>
                                <th>Pateikimo laikas</th>
                                <th>Ar įmonė?</th>
                                <th>Funkcijos</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

@section Scripts {
    <script src="~/js/order.js"></script>
}
